body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Navigation CSS */

#navBar {
    list-style-type: none;
    margin: 0px 116px 0px 36px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: right;
    display: block;
    color: #191A1E;
    text-align: center;
    padding: 44px;
    text-decoration: none;
}

li:hover {
    color: #be8b1d;
}